#data-info {
    background-color: #f4f4f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.info-section {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}
